---
import Button from "@components/Button/Button.astro";
import mobileVideo from "@images/EAmobile.mp4";
import desktopVideo from "@images/EAwide.mp4";
---

<section
    id="hero"
    class="relative flex w-full bg-cover bg-center z-[10] h-[900px] sm:h-[900px]"
>



    <video 
        id="desktopVideo"
        class="absolute inset-0 w-full h-full hidden sm:block"
        autoplay
        playsinline
        muted
    >
        <source src={desktopVideo} type="video/mp4">
    </video>

    <video 
        id="mobileVideo"
        class="absolute inset-0 w-full h-full block sm:hidden"
        autoplay
        playsinline
        muted
    >
        <source src={mobileVideo} type="video/mp4">
    </video>

</section>

