---
import Button from "@components/Button/Button.astro";
import mobileVideo from "@images/EAmobile.mp4";
import desktopVideo from "@images/EAwide.mp4";
---

<section
    id="hero"
    class="relative mb-14 flex min-h-[60svh] w-full pb-24 bg-cover bg-center"
>
    <!-- Video para versión desktop -->
    <video 
        id="desktopVideo"
        class="absolute inset-0 w-full h-full object-cover hidden sm:block"
        autoplay
        playsinline
        muted
    >
        <source src={desktopVideo} type="video/mp4">
    </video>

    <!-- Video para versión móvil -->
    <video 
        id="mobileVideo"
        class="absolute inset-0 w-full h-full object-cover block sm:hidden"
        autoplay
        playsinline
        muted
    >
        <source src={mobileVideo} type="video/mp4">
    </video>

    <div class="relative mx-auto flex items-center pt-16">
        <div class="site-container mx-auto max-w-4xl gap-8 py-20 text-center md:pt-32">
            <div class="xs:flex-row mx-auto mt-8 flex max-w-lg flex-col gap-3 px-6">
                <!-- <Button variant="primary" href="/propuestas/" class="mx-auto">
                    Nuestra propuesta
                </Button> -->
            </div>
        </div>
    </div>
</section>

<!-- ---
import Button from "@components/Button/Button.astro";
import hero from "@images/hero.jpg"
---
<section
    id="hero"
    class="relative mb-14 flex min-h-[60svh] w-full pb-24 bg-cover bg-center"
    style={`background-image: url(${hero.src});`}
>
    Capa con el degradado encima -->
    <!-- <div class="absolute inset-0 bg-gradient-to-b from-primary-200/30 via-primary-300/70 to-primary-600/70"></div>

    <div class="relative mx-auto flex items-center pt-16">
        <div class="site-container mx-auto max-w-4xl gap-8 py-20 text-center md:pt-32">
            <h1 class="text-4xl font-semibold sm:text-5xl md:text-6xl lg:text-7xl">
                <span class="main-text-gradient"> ¡BASTA DE PORTEÑOS CON HAMBRE!</span>
            </h1>
            <p class="description mx-auto mt-6 max-w-xs sm:max-w-sm md:max-w-lg">
                LEY DE EMERGENCIA ALIMENTARIA PARA TERMINAR CON EL HAMBRE Y LA MALNUTRICIÓN EN LA CIUDAD EN 12 MESES
            </p>
            <div class="xs:flex-row mx-auto mt-8 flex max-w-lg flex-col gap-3 px-6">
                <Button variant="primary" href="/propuestas/" class="mx-auto">
                    Nuestra propuesta
                </Button>
            </div>
        </div>
    </div>
</section> -->
