---
// data
import siteData from "@config/siteData.json";
import SocialIcons from "@components/SocialIcons/SocialIcons.astro";
const today = new Date();
---

<footer class="text-base-800/70 mt-32 mb-2 text-center text-sm">
	<div class="flex justify-center items-center mb-4">
		<SocialIcons />
	  </div>
	<a
		href="https://emergenciaalimentaria.ar"
		class="hover:text-primary-600"
		target="_blank"
		rel="noopener">Emergencia Alimentaria.</a
	>
</footer>

