---
import { Image } from 'astro:assets';
import fb  from "src/assets/images/facebook.png"
import insta from "src/assets/images/instagram.png"
---
<div class="flex items-center gap-4">
    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="block">
      <Image src={fb} alt="Facebook" class="w-8 h-8 hover:opacity-80" />
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="block">
      <Image src={insta} alt="Instagram" class="w-8 h-8 hover:opacity-80" />
    </a>
  </div>
  